@function reverse-list($list, $recursive: false) {
   $result: ();

   @for $i from length($list)*-1 through -1 {
      @if type-of(nth($list, abs($i))) == list and $recursive {
        $result: append($result, reverse(nth($list, abs($i)), $recursive));
      }

      @else {
        $result: append($result, nth($list, abs($i)));
      }
   }

   @return $result;
}

@function nested-map-set($map, $keys, $value) {
  $keys: reverse-list($keys);
  $nested-value: $value;

  @each $key in $keys {
    $aux-map: ($key: $nested-value);
    $nested-value: $aux-map;
  }

  @return nested-map-merge($map, $nested-value);
}
